<div class="animated fadeIn">
  <div class="row">
   
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <strong>Brand Buttons</strong>
          <small>Only text. Usage ex.</small>
          <code style="text-transform:lowercase">&lt;button class="btn btn-brand btn-facebook text"&gt;&lt;span&gt;Facebook&lt;/span&gt;&lt;/button&gt;</code>
        </div>
        <div class="card-body">
       
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
