<div class="animated fadeIn">
  <div class="row" >
      <div class="col-sm-4 col-md-3" >
          <div class="card card-accent-success">
            <div class="card-header">
                Mechanical Engineering
              <span class="badge badge-success float-right" >Branch</span>
            </div>
            <div class="card-body">
              <img class="card-img-top" src="assets/img/brand/pistons.png" alt="Card image cap" height="128px">       
            </div>
            <div class="card-footer">
                <table>
                <thead>
                    <th></th><th></th><th></th>
                  </thead>
                  <tbody>
                      <tr><td><a class="btn btn-danger" target="_blank" href="https://www.youtube.com/results?search_query=mechanical+engineering+tutorial"> <i class="fa fa-file-video-o fa-lg "></i> Video</a></td><td><a class="btn btn-primary" href="https://www.indiabix.com/engineering/"   target="_blank"   target="_blank"> <i class="fa fa-file-pdf-o fa-lg "></i> PDF</a></td></tr>
                  </tbody>
              </table>
            </div>
          </div>
      </div><!--/.col-->
      <div class="col-sm-4 col-md-3" >
          <div class="card card-accent-success">
            <div class="card-header">
                Civil Engineering
              <span class="badge badge-success float-right" >Branch</span>
            </div>
            <div class="card-body">
              <img class="card-img-top" src="assets/img/brand/crane.png" alt="Card image cap" height="128px">       
            </div>
            <div class="card-footer">
                <table>
                <thead>
                    <th></th><th></th><th></th>
                  </thead>
                  <tbody>
                      <tr><td><a class="btn btn-danger" target="_blank" href="https://www.youtube.com/results?search_query=Civil+Engineering+tutorial"> <i class="fa fa-file-video-o fa-lg "></i> Video</a></td><td><a class="btn btn-primary" href="https://www.indiabix.com/engineering/"   target="_blank"   target="_blank"><i class="fa fa-file-pdf-o fa-lg "></i> PDF</a></td></tr>
                  </tbody>
              </table>
            </div>
          </div>
      </div><!--/.col-->
      <div class="col-sm-4 col-md-3" >
          <div class="card card-accent-success">
            <div class="card-header">
                Computer Science & Engineering
              <span class="badge badge-success float-right" >Branch</span>
            </div>
            <div class="card-body">
              <img class="card-img-top" src="assets/img/brand/technical-support.png" alt="Card image cap" height="128px">       
            </div>
            <div class="card-footer">
                <table>
                <thead>
                    <th></th><th></th><th></th>
                  </thead>
                  <tbody>
                      <tr><td><a class="btn btn-danger" target="_blank" href="https://www.youtube.com/results?search_query=computer+language+tutorial"> <i class="fa fa-file-video-o fa-lg "></i> Video</a></td><td><a class="btn btn-primary" href="https://www.indiabix.com/engineering/"   target="_blank"   target="_blank"><i class="fa fa-file-pdf-o fa-lg "></i> PDF</a></td></tr>
                  </tbody>
              </table>
            </div>
          </div>
      </div><!--/.col-->
      <div class="col-sm-4 col-md-3" >
          <div class="card card-accent-success">
            <div class="card-header">
                Information Technology
              <span class="badge badge-success float-right" >Branch</span>
            </div>
            <div class="card-body">
              <img class="card-img-top" src="assets/img/brand/customer-support.png" alt="Card image cap" height="128px">       
            </div>
            <div class="card-footer">
                <table>
                <thead>
                    <th></th><th></th><th></th>
                  </thead>
                  <tbody>
                      <tr><td><a class="btn btn-danger" target="_blank" href="https://www.youtube.com/results?search_query=computer+language+tutorial"> <i class="fa fa-file-video-o fa-lg "></i> Video</a></td><td><a class="btn btn-primary" href="https://www.indiabix.com/engineering/"   target="_blank"   target="_blank"><i class="fa fa-file-pdf-o fa-lg "></i> PDF</a></td></tr>
                  </tbody>
              </table>
            </div>
          </div>
      </div><!--/.col-->
      <div class="col-sm-4 col-md-3" >
          <div class="card card-accent-success">
            <div class="card-header">
                Electronics & Communication Engineering
              <span class="badge badge-success float-right" >Branch</span>
            </div>
            <div class="card-body">
              <img class="card-img-top"  src="assets/img/brand/chip.png" alt="Card image cap" height="128px">       
            </div>
            <div class="card-footer">
                <table>
                <thead>
                    <th></th><th></th><th></th>
                  </thead>
                  <tbody>
                      <tr><td><a class="btn btn-danger" target="_blank" href="https://www.youtube.com/results?search_query=Electronics+%26+Communication+Engineering+tutorial"> <i class="fa fa-file-video-o fa-lg "></i> Video</a></td><td><a class="btn btn-primary" href="https://www.indiabix.com/engineering/"   target="_blank"   target="_blank" ><i class="fa fa-file-pdf-o fa-lg "></i> PDF</a></td></tr>
                  </tbody>
              </table>
            </div>
          </div>
      </div><!--/.col-->
  </div><!--/.row-->

</div>