<div class="animated fadeIn">
    <div class="alert alert-success" [style.display]="msg">
        <strong>Success!</strong> Student Add 
    </div>
    <div class="alert alert-danger" [style.display]="errmsg">
        <strong>Error</strong> {{ error}} 
    </div>
  <div class="card">
    <div class="card-header">
      <strong>New Placed Student</strong>
    </div>
    <form [formGroup]="placeForm" (ngSubmit)="onSubmit()">

   
    <div class="card-body">
        <div class="row">
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="company_name"  placeholder="Company Name" autocomplete="Company Name" required>
                    </div>
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="designation" placeholder="Designation" autocomplete="Designation" required>
                    </div>
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-phone"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="package" placeholder="Package" autocomplete="Package"  maxlength="10" pattern="[0-9]^$" required>
                    </div>
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                      </div>
                      <label class=" form-control">
                          <input type="date" formControlName="joining_date"  autocomplete="Date Of Joining"   required>
                          Date of Joining
                        </label>
                    </div>
                    <div class="input-group mb-3 col-md-6">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-people"></i></span>
                      </div>
                      <input type="text" formControlName="location" class="form-control" placeholder="Location" autocomplete="Location" required>
                    </div>
                    <div class="input-group mb-3 col-md-6">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-calendar"></i></span>
                        </div>
                        <label class=" form-control">
                            <input type="date" formControlName="placement_date"     required>
                             Placement Date
                          </label>
                      </div>
                      <div class="input-group mb-3 col-md-6">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-frame"></i></span>
                        </div>
                        <input type="text"  formControlName="i_card" class="form-control" placeholder="I-Card No" autocomplete="I-Card No" required>
                      </div>      
                     
            </div> 
            <div class="card-footer p-4">
              <div class="row ">
                <div class="col-md-3 col-12 col-xs-12 mb-3" >
                   <button class="btn btn-block btn-success" >Add Student</button>
                </div>
                
              </div>
            </div> 
  
    </div>
  </form>
  </div>
 
</div>
